<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="common_menus" class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主要菜单</li>
            <li class="active">
                <a href="/">
                    <i class="icon icon-dashboard"></i>
                    <span>仪表盘</span>
                    <span class="pull-right-container">
                            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon icon-file"></i>
                    <span>页面演示</span>
                    <span class="pull-right-container">
                                <i class="icon icon-angle-left"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/layout"><i class="icon icon-circle-blank"></i> 空白页</a></li>
                    <li><a href="login.html"><i class="icon icon-circle-blank"></i> 登录</a></li>
                    <li><a href="error-404.html"><i class="icon icon-circle-blank"></i> 404页</a></li>
                    <li><a href="config.html"><i class="icon icon-circle-blank"></i> 系统设置</a></li>
                    <li><a href="/list"><i class="icon icon-circle-blank"></i> 用户列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon icon-columns"></i>
                    <span>基础组件</span>
                    <span class="pull-right-container">
                                <i class="icon icon-angle-left"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="component-checkbox-radio.html"><i class="icon icon-circle-blank"></i> 多选和单选框</a></li>
                    <li><a href="component-step.html"><i class="icon icon-circle-blank"></i> 步骤条</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon icon-sign-blank"></i>
                    <span>扩展插件</span>
                    <span class="pull-right-container">
                                <i class="icon icon-angle-left"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="plugin-toastr.html"><i class="icon icon-circle-blank"></i> Toastr</a></li>
                    <li><a href="plugin-notify.html"><i class="icon icon-circle-blank"></i> Notify</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
</html>

