<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head(~{::title})">
    <title>空白页</title>
</head>
<body>
    <div class="wrapper">
        <header th:replace="common/header::common_header"></header>
        <aside  th:replace="common/menus::common_menus"></aside>
        <div class="content-wrapper">
            <div class="content-header">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon icon-home"></i></a></li>
                    <li class="active">空白页</li>
                </ul>
            </div>
            <div class="content-body">
                <div class="container-fluid">
                    <h3 class="text-center">从这里开始写代码</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
