<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head(~{::title})">
    <title>首页</title>
</head>
<body class="bg-primary">
<div class="page page-login text-center">
    <div class="panel">
        <div class="panel-body">
            <div class="logo">
                <a href="#">合并请求统计系统</a>
            </div>
            <form action="/api/v1/login?user=admin" method="post">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="密码">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="验证码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
