<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head(~{::title})">
    <title>我的项目</title>
</head>
<body>
    <div class="wrapper">
        <header th:replace="common/header::common_header"></header>
        <aside  th:replace="common/menus::common_menus"></aside>
        <div class="content-wrapper">
            <div class="content-header">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon icon-home"></i></a></li>
<!--                    <li><a href="#">中间菜单</a></li>-->
                    <li class="active">我的项目</li>
                </ul>
            </div>
            <div class="content-body">
                <div class="container-fluid">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>展示您作为开发者的项目，添加项目也只能添加您作为项目开发者、项目维护者、项目所属者的项目</p>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">项目列表</div>
                        </div>
                        <div class="panel-body">
                            <div class="table-tools" style="margin-bottom: 15px;">
                                <div class="pull-right" style="width: 250px;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="项目名称">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">搜索</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="tools-group">
                                    <a href="#" class="btn btn-success"><i class="icon icon-plus-sign"></i> 新增</a>
<!--                                    <a href="#" class="btn btn-warning"><i class="icon icon-ban-circle"></i> 禁用</a>-->
                                    <a href="#" class="btn btn-danger"><i class="icon icon-remove-sign"></i> 删除</a>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="30">
                                            <input type="checkbox">
                                        </th>
                                        <th width="50">ID</th>
                                        <th>用户名</th>
                                        <th>昵称</th>
                                        <th>手机号</th>
                                        <th>邮箱</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>1</td>
                                        <td>mofer</td>
                                        <td>莫非</td>
                                        <td>151xxxx1234</td>
                                        <td>205155513@qq.com</td>
                                        <td>2017-11-10 10:20</td>
                                        <td>
                                            <a href="#" class="btn btn-xs btn-primary">编辑</a>
                                            <a href="#" class="btn btn-xs btn-danger">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
