<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuituidan.gmr.mybatis.mapper.ProjectMapper">

    <resultMap id="projectResultMap" type="com.tuituidan.gmr.bean.vo.ProjectVo">
        <id property="id" column="c_id"/>
        <result property="gitlabUrl" column="c_gitlab_url"/>
        <result property="projectId" column="n_project_id"/>
        <result property="projectName" column="c_project_name"/>
        <result property="projectDesc" column="c_project_desc"/>
        <result property="developers" column="arr_developers"
                typeHandler="com.tuituidan.gmr.mybatis.typehandler.ArrayTypeHandler"/>
        <result property="creator" column="c_creator"/>
    </resultMap>

    <select id="selectByCreator" resultMap="projectResultMap" parameterType="string">
        select c_id
        ,c_gitlab_url
        ,n_project_id
        ,c_project_name
        ,c_project_desc
        ,arr_developers
        ,c_creator
         from db_gitlab.t_project where #{username}=ANY(arr_developers)
    </select>
</mapper>
